<div class="jumbotron">
     <h1 class="title">Ruby 人才招聘</h1>
     <p class="slogan">Ruby 人才招聘是针对Ruby语言使用者的网站
     <br>
     期待这个你的加入。
     <br>
     相信我们Ruby人会改变世界。
     </p>
     <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应聘</a></p>
   </div>


   <section id="company">
     <div class = "container-fluid">
       <div class="row">
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
             <div class="caption">
               <h3>Around the world</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
             <div class="caption">
               <h3>ldz201612icloud.com</h3>
             </div>
           </div>
         </div>
         <div class="col-sm-4 ">
           <div class="thumbnail">
             <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
             <div class="caption">
               <h3>13624268361</h3>
             </div>
           </div>
         </div>
       </div>
     </div>
   </section>
