<div class="col-md-12">
  <div class="kindergarten">
    <%= link_to("Edit", edit_kindergarten_path(@kindergarten), class: "btn btn-primary pull-right")%>
  </div>
  <h2><%= @kindergarten.title %></h2>
  <p><%= @kindergarten.location %></p>
  <p><%= @kindergarten.price %></p>
</div>
